{% extends 'base.html' %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/user.css' %}">
{% endblock head %}
{% block content %}

<div class="change-div">
  {{request.user.nickname}}님
<section class="change-popup-section">
  <div class="change-popup">
    <div class="change-email-popup">
      <span class="change-email-popup-close"><i class="delete-popup-close" onclick="popupClose(event)"></i></span>
      <p class="change-popup-title"><i class="fas fa-user-check"></i> 비밀번호 재설정</p>
      <p class="change-popup-content2">                                                                                                                                                            변경하실 비밀번호를 입력해주세요</p>
      <div class="change-popup-infor">
          <input type="password" placeholder="비밀번호 입력">
          <input type="password" placeholder="비밀번호 확인">
      </div>
      <button type="submit" class="change-ok">변경하기</button>
      <!-- <input type="submit" class="change-cancel" onclick="deleteCancel(event)" value="취소하기"> -->
    </div>
  </div>
</section>
</div>
{% endblock content %}