{% extends 'base.html' %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/user.css' %}">
{% endblock head %}

{% block content %}

{% static 'img/kakao_login_ov.png' as kakao_button %}
{% static 'img/kakao_login.png' as kakao_button_hover %}
{% static 'img/naver_login_green.png' as naver_button %}
{% static 'img/naver_login_white.png' as naver_button_hover %}

<section class="category">
  <p class="category-non-login"><i class="fas fa-quote-left"></i>로그인 하시면 관심있는 이슈를 기사별로 선택해서 보실 수 있어요<i class="fas fa-quote-right"></i></p>
</section>

<div class="panel registration">
    <div class="panel-body">
        <img src="" alt="" width="208" height="250">
        <form action="." method="POST">
            {% csrf_token %}
            
            {% for field in form %}
            {{field.errors}}   <!--필드 상단에 오류 메시지 출력-->
            <div class="login-form">
                <input id="{{field.id_for_label}}" type="{{field.field.widget.input_type}}" name="{{field.html_name}}">
            </div>
            {% endfor %}
            <div class="form-actions">
                <button class="login-btn" type="submit">로그인</button>
            </div>
        </form>
        <div class="kakao-btn">
            <a href="#"><img src="{% static 'img/kakao_login.png' %}" 
                             onmouseover="src='{{kakao_button_hover}}'"
                             onmouseleave="src='{{kakao_button}}'"
                             alt="">
            </a>
        </div>
        <div class="naver-btn">
            <a href="#"><img src="{% static 'img/naver_login_green.png' %}" 
                             onmouseover="src='{{naver_button_hover}}'"
                             onmouseleave="src='{{naver_button}}'"
                             alt="" >
            </a>
        </div>
        <a class="resend-email" href="#">인증이메일 재발송</a>
    </div>
</div>

{% endblock content %}