/* user login, signup page */
.base {
  background-color: rgb(249, 247, 244);
  box-sizing: border-box;
  padding-top: 70px;
}
.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}
.logo-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.neonews-balloon {
  margin: 6px;
  width: 150px;
  animation: balloon 1.5s infinite;
}
@keyframes balloon{
  0%{
    transform: rotate(-5deg);
  }
  50%{
    transform: rotate(15deg);
  }
  100%{
    transform: rotate(-5deg);
  }
}
.neonews-logo {
  width: 150px;
}
.login-form,.resend-email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-form > input, .signup-form > input{
  width: 260px;
  padding: 5px 10px;
  height: 30px;
  margin: 13px 0;
  border-radius: 3px;
  border: none;
  box-shadow: 0px 0px 5px 0px rgb(219, 218, 218);
}
.login-btn, .signup-btn {
  width: 280px;
  height: 40px;
  margin: 3px 0;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  color: white;
  background-color: rgb(248, 161, 104);
}
.login-btn:hover, .signup-btn:hover {
  background-color: #F7B34F;
  box-shadow: 0px 0px 5px 0px rgb(197, 195, 195);
}
/* 회원가입/로그인 버튼 변경부분 */
.kakao-btn{
  text-align: center;
  align-items: center;
  width: 280px;
  height: 40px;
  margin: 25px 0 5px 0;
  background-color:#FEF01B ;
  border-radius: 3%;
}
.kakao-btn:hover,
.naver-btn:hover{
  box-shadow: 0px 0px 8px 0px rgb(184, 181, 181);
}
.naver-btn{
  text-align: center;
  align-items: center;
  width: 280px;
  height: 40px;
  margin: 10px 0 15px 0;
  background-color:#1cc02f ;
  border-radius: 3%;
  position: relative;
}
.naver-btn img{
  position: absolute;
  left: 24%;
  top: 5%;
  /* top: 50%; */
  /* transform: translateY(-50%); */
}
.kakao-span{
  font-weight: 600;
  align-items: center;
  line-height: 3.7;
  font-size: .7rem;
  margin-left: 15px;
}
.naver-span{
  font-weight: 600;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 33%;
  transform: translateY(-50%);
  line-height: 1;
  font-size: .7rem;
  margin-left: 10px;
  color: #fff;
}
.kakao-btn i{
  font-size: 1.2rem;
}
/* .kakao-btn > a> img {
  width: 267px;
  height: 35px;
  margin: 5px 0;
} */
.naver-btn > a > img {
  width: 267px;
  height: 35px;
  margin: 5px 0;
}
.resend-email, .find_password {
  text-decoration: none;
  color: dodgerblue;
  margin: 5px 0 ;
  font-size: 12px;
}


/* user infor edit page */
.user-infor-edit{
  display: flex;
  justify-content: space-around;
  background-color: rgb(249, 247, 244);
  padding-top: 150px;
  height: 800px;
}
.user-infor-contents{
  height: 300px;
  text-align: center;
  width: 60%;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px #eee;
  background-color: rgb(253, 253, 253);
  padding-top: 20px;
  /* text-align: center; */
}
.edit-nickname{
  position: relative;
  top: 25%;
  transform: translateY(-50%);
}
.user-infor-contents h2{
  font-size: 1.2rem;
  margin-top: 30px;
  margin-bottom: 60px;
}
.user-infor-contents input{
  border: none;
  width: 50%;
  padding: 10px 10px;
  border-radius: 5px;
  background-color: rgb(235, 233, 233);
}
.user-infor-contents  button{
  margin-left: 15px;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
}
.user-infor-edit-title{
  margin: 10px 0 20px 0;
  font-size: 1rem;
}
.user-infor-edit-content{
  letter-spacing: 2px;
  font-size: 1rem;
}
.user-infor-ul{
  width: 250px;
  border-radius: 5px;
  background-color: #eee;
  display: inline-block;
  margin-right: 5%;
}
.user-infor-ul li{
  margin: 20px;
  z-index: 1;
}
.user-infor-ul li:hover,
.user-infor-ul li:focus{
  border-radius: 5px;
  transition: all 200ms;
}
.user-infor-ul li:hover button,
.user-infor-ul li:focus button {
  border-radius: 5px;
  color: #eee;
  background-color: rgba(87, 84, 84, 0.671);
  transition: all 200ms;
}
.user-infor-ul li button{
  padding: 5px 10px;
  width: 100%;
  font-size: 2em;
  border: none;
}
.user-infor-ul li button i{
  width: 20%;
  margin-right: 20px;
  text-align: left;
  display: inline-block;
  font-size: 1.3em;
}
.user-infor-ul li button span{
  font-size: 1em;
  width: 80%;
  margin-right: 20px;
  text-align: left;
}
.clicked{
  border-radius: 5px;
  color: #eee;
  background-color:rgb(248, 161, 104);
}
.edit-profile-img{
  position: relative;
  top: 55%;
  transform: translateY(-50%);
}
  
/* user my page - comment,like page */
.user-comment-li,
.user-like-li{
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  border-bottom: 1px solid rgb(212, 210, 210);
  width: 85%;
  margin: 0 auto;
}
.user-comment-title,
.user-comment-delete,
.user-like-title,
.user-like-icon{
  font-size: 1rem;
  cursor: pointer;
}

/* user responsive */
@media screen and (max-width:576px){
  .user-infor-edit{
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
 
  .user-infor-contents{
    margin: 0 auto;
    width: 90%;
  }
}

@media screen and (max-width:450px){
  .main-section{
  }
  .base{
    padding: 0;
  }
  .category >.category-non-login{
     display: none;
}
.registration{
  padding-top: 0px;
  margin-top: 0;
}
.category{
  padding: 0;
  margin: 0;
}
}