/* user login, signup page */
.base {
  background-color: rgb(249, 247, 244);
  box-sizing: border-box;
  padding-top: 70px;
}
.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.panel-body{
  margin-top: -50px;
}

.registration{
  min-height: 100vh;
  /* margin-top: -50px; */
  background-color: rgb(249, 247, 244);
}
.registration-signup{
  margin-top: -20px;
}
.logo-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.neonews-balloon {
  margin: 6px;
  width: 150px;
  animation: balloon 1.5s infinite;
}
@keyframes balloon{
  0%{
    transform: rotate(-5deg);
  }
  50%{
    transform: rotate(15deg);
  }
  100%{
    transform: rotate(-5deg);
  }
}
.neonews-logo {
  width: 150px;
}
.login-form,.resend-email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* formview에서 form 레이아웃 */
.login-form > input, .signup-form input{
  width: 260px;
  padding: 5px 10px;
  height: 30px;
  margin: 13px 0;
  border-radius: 3px;
  border: none;
  box-shadow: 0px 0px 5px 0px rgb(219, 218, 218);
}
.login-btn {
  width: 280px;
  height: 40px;
  margin: 3px 0;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  color: white;
  background-color: rgb(248, 161, 104);
}

.form-actions input{
  display: block;
  width: 280px;
  height: 40px;
  margin: 3px 0px;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  color: white;
  background-color: rgb(248, 161, 104);
}
.login-btn:hover, .signup-btn:hover {
  background-color: #F7B34F;
  box-shadow: 0px 0px 5px 0px rgb(197, 195, 195);
}

.social-signup {
  text-align: center;
  margin: 25px 0 -7px 0;
}
.social-signup-text{
  color: #81530d;
  font-size: 0.8rem;
  margin: 0px 5px;
  
}
.social-signup-text-icon{
  color: #81530d;
  display: inline-block;
  font-size: 0.5rem;
  
}
.social-quote{
  font-size: .8rem;
}
.social-non-login-text{
  margin: 0px 5px;
}
.social-strong{
  color: #F7B34F;
}
/* formview 레이아웃 */
.error{
  text-align: center;
  margin: 20px 0 15px 0;
  color: #1cc02f;
  font-weight: bold;
  letter-spacing: 2px;
}
.error-word{
  
  font-size: .9rem;
  text-align: center;
}

/* 회원가입/로그인 버튼 변경부분 */
.kakao-btn{
  text-align: center;
  align-items: center;
  width: 280px;
  height: 40px;
  margin: 25px 0 5px 0;
  background-color:#FEF01B ;
  border-radius: 3%;
}
.kakao-btn:hover,
.naver-btn:hover{
  box-shadow: 0px 0px 8px 0px rgb(184, 181, 181);
}
.naver-btn{
  text-align: center;
  align-items: center;
  width: 280px;
  height: 40px;
  margin: 10px 0 15px 0;
  background-color:#1cc02f ;
  border-radius: 3%;
  position: relative;
}
.naver-btn img{
  position: absolute;
  left: 24%;
  top: 5%;
}
.kakao-span{
  font-weight: 600;
  align-items: center;
  line-height: 3.7;
  font-size: .7rem;
  margin-left: 15px;
}
.naver-span{
  font-weight: 600;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 33%;
  transform: translateY(-50%);
  line-height: 1;
  font-size: .7rem;
  margin-left: 10px;
  color: #fff;
}
.kakao-btn i{
  font-size: 1.2rem;
}

.naver-btn > a > img {
  width: 267px;
  height: 35px;
  margin: 5px 0;
}
.resend-email, .find_password {
  text-decoration: none;
  color: dodgerblue;
  margin: 5px 0 ;
  font-size: 12px;
}


/* user infor edit page */
.edit-personal-infor{
  /* background-color: red; */
  margin-bottom: 20px;
  font-size: .9rem;
  text-align: left;
  color: #56595c;
}
.personal-icon{
  margin-right: 8px;
  font-size: 1.0rem;
  margin-bottom: 50px;
}
.user-infor-edit{
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(249, 247, 244);
  padding-top: 150px;
  min-height: 100vh;
  /* min-height: 100vh; */
}
.user-infor-contents{
  /* min-height: 100%; */
  text-align: center;
  width: 50%;
  padding-left: 50px;
  border-radius: 5px;
  position: relative;
}
/* 유저 내계정 레이아웃 */

.edit-nickname{
  position: absolute;
  width: 100%;
  padding-bottom: 50px;
  border-bottom: 1px solid #eee;
}
.edit-password{
text-align: left;
}
.edit-password-infor{
  display: flex;
  align-items: center;
  width: 100%;
}
.resend-pwd{
margin-left: 30px;
padding: 12px;
border: none;
border-radius: 5px;

}
.user-infor-contents h2{
  font-size: 1.2rem;
  margin-top: 30px;
  margin-bottom: 60px;
}
.infor-user-nickname{
  border: none;
  width: 60%;
  /* margin: 20px auto; */
  margin: 20px 0px;
  padding: 15px 10px;
  border-radius: 5px;
  background-color: rgb(235, 233, 233);
  display: block;
}
.infor-user-password{
  border: none;
  width: 50%;
  /* margin: 20px auto; */
  padding: 15px 10px;
  border-radius: 5px;
  background-color: rgb(235, 233, 233);
  display: block;
}
.non-clicked{
  display: none;
}
.user-nickname-btn{
  position: relative;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
}
.user-password-btn{
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
  left: 5%;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid rgb(168, 167, 167);
}
.user-infor-edit-title{
  margin: 10px 0 20px 0;
  font-size: 1rem;
}
.user-infor-edit-content{
  letter-spacing: 2px;
  font-size: 1rem;
}
.user-infor-ul{
  width: 250px;
  border-radius: 5px;
  background-color: #eee;
  display: inline-block;
  margin-right: 5%;
}
.user-infor-ul li{
  margin: 20px;
  z-index: 1;
}
.user-infor-ul li:hover,
.user-infor-ul li:focus{
  border-radius: 5px;
  transition: all 200ms;
}
.user-infor-ul li:hover button,
.user-infor-ul li:focus button {
  border-radius: 5px;
  color: #eee;
  background-color: rgba(87, 84, 84, 0.671);
  transition: all 200ms;
}
.user-infor-ul li button{
  padding: 5px 10px;
  width: 100%;
  font-size: 2em;
  border: none;
}
.user-infor-ul li button i{
  width: 20%;
  margin-right: 20px;
  text-align: left;
  display: inline-block;
  font-size: 1.3em;
}
.user-infor-ul li button span{
  font-size: 1em;
  width: 80%;
  margin-right: 20px;
  text-align: left;
}
.clicked{
  border-radius: 5px;
  color: #eee;
  background-color:rgb(248, 161, 104);
}
.edit-profile-img{
  text-align: left;
margin-bottom: 180px;
}
.edit-profile-pwd{
  margin-bottom: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #eee;
}
/* 이미지,닉네임 변경 레이아웃 */
.profile-edit{
  text-align: center;
}
.profile-upload-img{
  background-color: #eee;
  overflow: hidden;
  box-shadow: 0px 0px 7px 2px rgb(209, 207, 207);
  /* margin: 0 auto; */
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  cursor: pointer;
}
.profile-image-file{
  position: relative;
  top: 70px;
  left: 40px;
  width: 0px;
}
.fa-image{
  font-size: 5.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #495057;
}
.profile-upload-preview-img{
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 250px;
  height: 270px;
}

.upload-img-div{
  text-overflow: ellipsis;
  position: absolute;
  top: 0;


}
.upload-user-img{
  position: absolute;
  width: 250px;
  height: 250px;
  text-overflow: ellipsis;
  top: 0;
  left: 0;
}

  
/* user my page - comment,like page */
.user-comment-li,
.user-like-li{
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  border-bottom: 1px solid rgb(212, 210, 210);
  width: 85%;
  margin: 0 auto;
}
.user-comment-title,
.user-comment-delete,
.user-like-title,
.user-like-icon{
  font-size: 1rem;
  cursor: pointer;
}

/* 마이페이지 탈퇴 popup창 */
.delete-popup-section{
  background-color:rgba(0,0,0,.3); 
  justify-content:center; 
  align-items:center;     
  position:fixed;         
  top:0;
  left:0;
  right:0;
  bottom:0;               
  /* display:flex; */
  display:none; 
  padding:15px; 
  backdrop-filter: blur(3px)
}
/* signup detail popup창 */
.delete-popup{
  width:100%;               
  max-width:350px;   
  height: 450px;       
  border-radius:10px;     
  position: relative;  
  overflow:hidden;          
  background-color:#eee; 
  box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3); 
  /* background-color: red; */
}
.delete-email-popup{
  text-align: center;
  height: 200px;
}
.delete-popup-close{
  text-align: right;
  font-size: 1.2rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  /* right:20px; */
  cursor: pointer;
  width: 100%;
  height: 60px;
  background-color: rgb(248, 161, 104);
  padding-bottom: 30px; 
}
.delete-popup-title{
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 50%;
  font-size: .9rem;
  transform: translate(-50%,-50%);
  background-color: rgb(248, 161, 104);
  width: 100%;
  height: 20px;
}
.delete-popup-infor{
  position: absolute;
  bottom: 35%;
}
.delete-popup-infor input{
  margin-bottom: 10px;
  padding: 10px 8px;
  width: 70%;
  border: none;
}

.fa-user-check{
  font-size: 1.1rem;
  margin-right: 6px;
}

.delete-popup-content2{
  position: absolute;
  font-size: .7rem;
  top: 35%;
  left: 50%;
transform: translate(-50%,-50%);
/* background-color: blue; */
}

.delete-ok{
  position: absolute;
  bottom:10px;
  right: 30%;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(212, 209, 209);
}
.delete-cancel{
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 30%;
  padding: 5px;
  border-radius: 5px;
  border: none; 
  background-color: rgb(212, 209, 209);
}
/* 유저 password 변경 페이지 */

.change-popup-section{
  background-color:rgba(0,0,0,.3); 
  justify-content:center; 
  align-items:center;     
  position:fixed;         
  top:0;
  left:0;
  right:0;
  bottom:0;               
  display:flex;
  /* display:none;  */
  padding:15px; 
  backdrop-filter: blur(6px);
}
/* signup detail popup창 */
.change-popup-section{
  background-color: rgba(241, 240, 239, 0.637);
  position: absolute;
}
.change-popup{
  width:100%;               
  max-width:500px;   
  height: 450px;       
  border-radius:10px;     
  position: relative;  
  overflow:hidden;          
  background-color:#eee; 
  box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3); 
  /* background-color: red; */
}
.change-email-popup{
  text-align: center;
  /* position: relative; */
  height: 200px;
}
.change-popup-close{
  text-align: right;
  font-size: 1.2rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  /* right:20px; */
  cursor: pointer;
  width: 100%;
  height: 60px;
  background-color: rgb(248, 161, 104);
  padding-bottom: 30px; 
}
.change-popup-title{
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 50%;
  font-size: .9rem;
  transform: translate(-50%,-50%);
  background-color: rgb(248, 161, 104);
  width: 100%;
  height: 20px;
}
.change-popup-infor{
  position: absolute;
  bottom: 35%;
  width: 100%;
}
.change-popup-infor input{
  margin-bottom: 10px;
  padding: 10px 8px;
  width: 70%;
  border: none;
}

.fa-user-check{
  font-size: 1.1rem;
  margin-right: 6px;
}

.change-popup-content2{
  position: absolute;
  font-size: .7rem;
  top: 35%;
  left: 50%;
transform: translate(-50%,-50%);
/* background-color: blue; */
}

.change-ok{
  position: absolute;
  bottom:40px;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(212, 209, 209);
}


/* user responsive */
@media screen and (max-width:576px){
  .user-infor-edit{
    flex-direction: column;
    text-align: center;
    padding: 20px;
    padding-top: 100px;
    justify-content:flex-start;
    min-height: 100vh;
  }
 
  .user-infor-contents{
    margin: 0 auto;
    width: 90%;
    margin-top: 50px;
    padding-left: 0px;
  }
  .profile-image-form{
    text-align: center;
  }
  .infor-user-nickname{
    width: 90%;
    display: inline-block;
  }
  .profile-upload-img{
    margin: 20px auto;
  }
  .edit-password{
    text-align: center;
  }
  .infor-user-password{
    width: 90%;
    margin: 20px auto;
  }
  .registration-signup{
    margin-top: -100px;
  }
.edit-profile-img{
  text-align: center;
}
}

@media screen and (max-width:450px){
  .main-section{
  }
  .base{
    padding: 0;
  }
  .category >.category-non-login{
     display: none;
}
.registration{
  padding-top: 0px;
  margin-top: 0;
}
.registration-signup{
  padding-top: 50px;
}
.category{
  padding: 0;
  margin: 0;
}
}