{% extends 'base.html' %}
{% block head %}
{% load static %}
{% load article_hangul %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!-- 카카오톡 공유 api -->
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
{% endblock head %}

{% block content %}
<section class="detail-section">
  <div class="detail-section-title">
    <h1 class="detail-title">{{article.title}}</h1>
    <div class="detail-infor">
      <span class="detail-portal">{{article.potal.name}} |</span>
      <span class="detail-date">{{article.date}}</span>
    </div>
  </div>

  <p class="detail-content">
    {% autoescape off %}
    {{ article.content}}
    {% endautoescape %}
  </p>
  <div class="detail-original">
    <a href="{{article.ref}}">원본기사 보러가기 <i class="fas fa-chevron-right"></i></a>
    <p class="detail-press">{{article.press.name}}</p>
  </div>
  <div class="detail-social">
    <span class="social-heart-span"><a href=''><i class="social-heart fas fa-heart"></i> 이 기사 찜하기</a></span>
    <span class="social-share-span"><a href="javascript:sendLinkKakao()"><i class="social-share fas fa-share-alt"></i> 카카오톡으로 공유하기</a></span>
    <span class="sociallink ml-1">

  </span>
  </div>

  <div class="detail-comment">
    <form class="comment-form" action="" method='POST'>
      {% csrf_token %}
      <input type="text" class="detail-comment-input" placeholder="댓글을 입력해주세요.">
      <button class="detail-comment-submit">등록</button>
    </form>
  </div>
  <ul class="detail-comments-ul">
    {% for comment in comments %}
    <li class="detail-comment-list">
      <div class="comment-user-infor">
        <div class="comment-user">
          <span class="user-nickname">{{comment.writer}}</span>
          <span class="user-date">{{comment.created_string}}</span>
        </div>
        <div><i class=" ellipsis fas fa-ellipsis-v"></i>
          <div class="comment-edit-div non-clicked">
            <button class="comment-edit">수정하기</button>
            <button class="comment-delete">삭제하기</button>
          </div>
        </div>
      </div>
      <div class="comment-content">
        <p>{{comment.content}}</p>
        <button class="recomment">답글</button>
        <form class="recomment-form non-clicked" action="" method='POST'>
          {% csrf_token %}
          <input type="text" class="detail-recomment-input" placeholder="댓글을 입력해주세요.">
          <button class="detail-recomment-submit">등록</button>
        </form>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>

</div>
{% endblock content %}

{% block script %}
<script>
  $commentEditDiv = document.querySelector('.ellipsis');
  let bool = false
  $commentEditDiv.addEventListener('click', function (e) {
    if (bool == true) {
      document.querySelector('.comment-edit-div').classList.add('non-clicked');
      bool = false;
      console.log(bool)
    }
    else {
      document.querySelector('.comment-edit-div').classList.remove('non-clicked');
      bool = true;
      console.log(bool)
    }
  });
  document.onmousedown = () => {
    bool = false;
    if (window.event.path[0].classList[0] != 'ellipsis') {
      document.querySelector('.comment-edit-div').classList.add('non-clicked');
    }
  }

// 공유하기 스크립트
Kakao.init('32cbd11246656adc34f9add26b2a772b');
function sendLinkKakao(){
    Kakao.Link.sendDefault({
      objectType: 'feed',
      content: {
        title: '{{ article.title|get_hangul }}',
        description: '{{ article.content|get_hangul_num|slice:"65:"}}',
        // 컨텐츠 이미지 가져오는거 필요해보임
        imageUrl: 'https://imgnews.pstatic.net/image/001/2021/07/23/PYH2021072208710001300_P4_20210723011708733.jpg?type=w647',
        link: {
          mobileWebUrl: '{{ request.build_absolute_uri }}',
          webUrl: '{{ request.build_absolute_uri }}'
        }
      },
      buttons: [       
        {
          title: '링크 열기',
          link: {
            mobileWebUrl: '{{ request.build_absolute_uri }}',
            webUrl: '{{ request.build_absolute_uri }}'
          }
        }
      ]
    }); 
}
</script>

<!-- 댓글기능 스크립트 -->
<script>
  function createComment(content) {
    console.log("Posting Comment");
    let csrfValue = document.getElementsByName("csrfmiddlewaretoken")[0].value;
    let param = {
      'article_pk' : '{{article.pk}}',
      'content' : content,
    } 
    fetch("{% url 'social:comment' %}", {
      method : "POST",
        headers : {
          "X-CSRFToken" : csrfValue,
          "X-Requested-With" : "XMLHttpRequest"
        },
        body : JSON.stringify(param)
    }).then(function(response) {
      return response.json();
    }).then(function(data) {
      let writer = data['writer'];
      let content = data['content'];
      let created_time = data['created_time'];
      let commentList = document.querySelector(".detail-comments-ul");
      commentList.innerHTML += `
      <li class="detail-comment-list">
        <div class="comment-user-infor">
          <div class="comment-user">
            <span class="user-nickname">${writer}</span>
            <span class="user-date">${created_time}</span>
          </div>
          <div><i class=" ellipsis fas fa-ellipsis-v"></i>
            <div class="comment-edit-div non-clicked">
              <button class="comment-edit">수정하기</button>
              <button class="comment-delete">삭제하기</button>
            </div>
          </div>
        </div>
        <div class="comment-content">
          <p>${content}</p>
          <button class="recomment">답글</button>
          <form class="recomment-form non-clicked" action="" method='POST'>
            {% csrf_token %}
          <input type="text" class="detail-recomment-input" placeholder="댓글을 입력해주세요.">
          <button class="detail-recomment-submit">등록</button>
          </form>
        </div>
      </li>
      `;
    }).catch(error => {
      console.log("Error", error);
    })
  }

  function submitComment(e) {
    e.preventDefault();
    let content = document.querySelector(".detail-comment-input").value;
    if (content) {
      createComment(content);
    }else {
      console.log("You cannot submit an empty form")
    }
  }

  let commentForm = document.querySelector(".comment-form");
  commentForm.addEventListener("submit", submitComment);

</script>

{% endblock script %}