{% extends 'base.html' %}
{% block head %}
{% load static %}
{% endblock head %}

{% block content %}
{% include 'banner.html' %}
<!-- <div class="category-div"> -->
<section class="category">
    <i class="fas fa-bars category-open" onclick="categoryOpen()"></i>
  {% if user.is_authenticated %}
  <ul class="category-ul">
    <div class="category-scroll">
      <i class="fas fa-times category-close" onclick="categoryClose()"></i>
    <li class="category-li">
      <a class="active" href="">전체보기</a>
    </li>
    {% for category in categories %}
    <li class="category-li">
      <a href="">{{category.name}}</a>
    </li>
    {% endfor %}
    {% for keyword in keywords %}
    <li class="category-li">
      <a href="">{{keyword.name}}</a>
    </li>
    {% endfor %}
    </div>
  </ul>
  {% else %}
  <p class="category-non-login"><i class="quote fas fa-quote-left"> </i> 로그인 하시면 관심있는 이슈를 기사별로 선택해서 보실 수 있어요 <i class="quote fas fa-quote-right"> </i></p>
  {% endif %}
</section>
<!-- </div> -->

<ul class="news-ul">
  <li class="news-li">
    <div class="news-img"><img src="static/img/logo.png" alt="">
    </div>
    <a href="{% url 'news:detail' %}"><div class="news-contents">
      <div class="news-title">Text Double click to edit</div>
      <div class="news-content">Text - Double click to edit. Text - Double click to edit. Text - Double click to edit. Text - Double click to edit. Text - Double click. Text - Double cli...
      </div>
      <div class="news-social">
        <div class="news-infor">
        <span class="news-portal">네이버 · </span>
        <span class="news-press"> 인사이트 · </span>
        <span class="news-date"> 2021-07-01</span>
      </div>
      <div class="news-social-infor">
        <span class="news-social-comment"><i class="fas fa-comment-alt"> </i> 12</span>
        <span class="news-social-like"><i class="fas fa-heart"> </i> 2</span>
      </div>
      </div>
    </div>
  </a>
  
  </li>
  <li class="news-li">
    <div class="news-img"><img src="static/img/logo.png" alt="">
    </div>
    <a href="{% url 'news:detail' %}"><div class="news-contents">
      <div class="news-title">Text Double click to edit</div>
      <div class="news-content">Text - Double click to edit. Text - Double click to edit. Text - Double click to edit. Text - Double click to edit. Text - Double click. Text - Double cli...
      </div>
      <div class="news-social">
        <div class="news-infor">
        <span class="news-portal">네이버 · </span>
        <span class="news-press"> 인사이트 · </span>
        <span class="news-date"> 2021-07-01</span>
      </div>
      <div class="news-social-infor">
        <span class="news-social-comment"><i class="fas fa-comment-alt"> </i> 12</span>
        <span class="news-social-like"><i class="fas fa-heart"> </i> 2</span>
      </div>
      </div>
    </div>
  </a>
  
  </li>
  <li class="news-li">
    <div class="news-img"><img src="static/img/logo.png" alt="">
    </div>
    <a href="{% url 'news:detail' %}"><div class="news-contents">
      <div class="news-title">Text Double click to edit</div>
      <div class="news-content">Text - Double click to edit. Text - Double click to edit. Text - Double click to edit. Text - Double click to edit. Text - Double click. Text - Double cli...
      </div>
      <div class="news-social">
        <div class="news-infor">
        <span class="news-portal">네이버 · </span>
        <span class="news-press"> 인사이트 · </span>
        <span class="news-date"> 2021-07-01</span>
      </div>
      <div class="news-social-infor">
        <span class="news-social-comment"><i class="fas fa-comment-alt"> </i> 12</span>
        <span class="news-social-like"><i class="fas fa-heart"> </i> 2</span>
      </div>
      </div>
    </div>
  </a>
  
  </li>
  
</ul>
{% endblock content %}

{% block script %}
<script>
  document.querySelector('.category-ul').classList.add('category-close-ani')
function categoryClose(){
  document.querySelector('.category-ul').classList.add('category-close-ani')
  document.querySelector('.category-ul').classList.remove('category-open-ani')
}
function categoryOpen(){
  document.querySelector('.category-ul').classList.add('category-open-ani')
  document.querySelector('.category-ul').classList.remove('category-close-ani')
}

</script>
{% endblock script %}