{% extends 'base.html' %}
{% block head %}
{% load static %}
{% endblock head %}

{% block content %}
{% include 'banner.html' %}
<!-- <div class="category-div"> -->
  <section class="category">
  {% if user.is_authenticated %}
    <i class="fas fa-bars category-open" onclick="categoryOpen()"></i>
  <ul class="category-ul">
    <div class="category-scroll">
      <i class="fas fa-times category-close" onclick="categoryClose()"></i>
    <li class="category-li">
      <a class="category-all" href="{% url 'index' %}">전체보기</a>
    </li>
    {% for category in categories %}
    <li class="category-li">
      <a href="{% url 'news:category' category.pk %}">{{category.name}}</a>
      <!-- <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" value="{{category.name}}" onclick="categoryBtn('{{category.pk}}')">
      </form> -->
    </li>
    {% endfor %}
    {% for keyword in keywords %}
    <li class="category-li">
      <a href="{% url 'news:keyword' keyword.pk %}">{{keyword.name}}</a>
    </li>
    {% endfor %}
    </div>
  </ul>
  {% else %}

  <p class="category-non-login"><i class="quote fas fa-quote-left"> </i> 로그인 하시면 관심있는 이슈를 기사별로 선택해서 보실 수 있어요 <i class="quote fas fa-quote-right"> </i></p>
  {% endif %}
</section>
<!-- </div> -->

{% if user.is_authenticated %}
<ul class="news-ul">
  {% if is_none %}
  <li class="news-none-msg">{{msg}}</li>
  {% else %}
  {% for article in articles %}
  <li class="news-li">
    <div class="news-img"><img src="{{article.preview_img}}" alt="">
    </div>
    <a href="{% url 'news:detail' article.pk %}"><div class="news-contents">
      <div class="news-title">{{article.title}}</div>
      <div class="news-content">{{article.preview_content |truncatechars:150}}</div>
      <div class="news-social">
        <div class="news-infor">
        <span class="news-portal">{{article.potal.name}} · </span>
        <span class="news-press">{{article.press.name}} · </span>
        <span class="news-date">{{article.created_string}}</span>
      </div>
      <div class="news-social-infor">
        <span class="news-social-comment"><i class="fas fa-comment-alt"> </i> 12</span>
        <span class="news-social-like"><i class="fas fa-heart"> </i> 2</span>
      </div>
      </div>
    </div>
  </a>
  </li>
  {% endfor %}
  {% endif %}
  
</ul>
{% else %}
<ul class="news-ul">
  {% for article in articles %}
  <li class="news-li">
    <div class="news-img"><img src="{{article.preview_img}}" alt="">
    </div>
    <a href="{% url 'news:detail' article.pk %}"><div class="news-contents">
      <div class="news-title">{{article.title}}</div>
      <div class="news-content">{{article.preview_content |truncatechars:150}}</div>
      <div class="news-social">
        <div class="news-infor">
        <span class="news-portal">{{article.potal.name}} · </span>
        <span class="news-press">{{article.press.name}} · </span>
        <span class="news-date">{{article.created_string}}</span>
      </div>
      <div class="news-social-infor">
        <span class="news-social-comment"><i class="fas fa-comment-alt"> </i> 12</span>
        <span class="news-social-like"><i class="fas fa-heart"> </i> 2</span>
      </div>
      </div>
    </div>
  </a>
  </li>
  {% endfor %}
</ul>
{% endif %}

{% endblock content %}

{% block script %}
<script>
  document.querySelector('.category-ul').classList.add('category-close-ani')
function categoryClose(){
  document.querySelector('.category-ul').classList.add('category-close-ani')
  document.querySelector('.category-ul').classList.remove('category-open-ani')
}
function categoryOpen(){
  document.querySelector('.category-ul').classList.add('category-open-ani')
  document.querySelector('.category-ul').classList.remove('category-close-ani')
}

// 버튼 누른대로 기사 보여주기

function categoryBtn(pk){
  event.preventDefault();

let CsrfValue = document.getElementsByName("csrfmiddlewaretoken")[0].value;
let param = {
  'category_pk':pk,
}
fetch("{% url 'index' %}", {
  method: 'POST',
  headers: {
    "X-CSRFToken": CsrfValue,
    "X-Requested-With": "XMLHttpRequest"
  },
  body: JSON.stringify(param),
}).then(function (response) {
  console.log('readdss', response)
  return response.json()
}).then(function (data) {
  document.querySelector('.news-ul').innerHTML =``; 
  console.log(data)
  data['article_list'].forEach(function(item, index){
    console.log(item,index)
    document.querySelector('.news-ul').innerHTML += `
    <li class="news-li">
    <div class="news-img"><img src="${item['preview_img']}" alt="">
    </div>
    <a href="news/detail${item['pk']}/"><div class="news-contents">
      <div class="news-title">${item['title']}</div>
      <div class="news-content"></div>
      <div class="news-social">
        <div class="news-infor">
        <span class="news-portal">${item['potal']} · </span>
        <span class="news-press">${item['press']} · </span>
        <span class="news-date">${item['date']}</span>
      </div>
      <div class="news-social-infor">
        <span class="news-social-comment"><i class="fas fa-comment-alt"> </i> 12</span>
        <span class="news-social-like"><i class="fas fa-heart"> </i> 2</span>
      </div>
      </div>
    </div>
  </a>
  
  </li>
    
    `;
  })
  

  return(data)
}).catch((error) => {
  console.log('error', error);
})

}

let url = window.location.href;
console.log(url)
a_list  = document.querySelectorAll('.category-li > a')
// a_list.forEach(a => console.log(a['href']))
// console.log(lis['href'])  
a_list.forEach(function(a){
  if(url == a['href']){
    href = url
    a.parentNode.classList.add('active');
  }
})
// this.toggleClass('active',this.attr('href')==url);

// document.querySelector('.category-li > a')[href]

</script>
{% endblock script %}