{% extends 'base.html' %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock head %}

{% block content %}
<section class="news-infor-edit">
  <a href='' class="news-infor-back"><i class="fas fa-chevron-left"></i></a>
  <div class="news-infor-div">
  <div class="news-infor">
    <ul class="infor-ul">
      <li class="press-infor"><button class="clicked press-btn" onclick="pressInfor(event)" ; href="#"><i class="far fa-newspaper"></i><span>언론사 선택</span></button></li>
      <li class="keyword-infor"><button class="keyword-btn" onclick="keywordInfor(event)" ;><i class="far fa-bell"></i><span>키워드 선택</span></button></li>
      <li class="keyword-infor"><button class="category-btn" onclick="categoryInfor(event)" ;><i class="far fa-bell"></i><span>카테고리 선택</span></button></li>
      
    </ul>
  </div>
  <div class="news-infor-description">
    <p class="news-infor-edit-title">언론사 선택하기</p>
    <p class="news-infor-edit-content">현재 기사를 받고 있는 언론사들이에요 ! 언론사 선택 해제시 해당 언론사에 관한 기사들은 제외돼요 :-) 
      보고싶지 않은 언론사가 있다면 선택을 해제해주세요.
    </p>
  </div>
  </div>

  <div class="news-infor-contents">
    {% include 'infor-press.html' %}
  </div>
</section>
{% endblock content %}

{% block script %}
<script>
function pressInfor(e){
  document.querySelector('.press-btn').classList.add('clicked');
  document.querySelector('.keyword-btn').classList.remove('clicked');
  document.querySelector('.category-btn').classList.remove('clicked');
  document.querySelector('.news-infor-edit-title').innerText = '언론사 선택하기'
  document.querySelector('.news-infor-edit-content').innerText="현재 기사를 받고 있는 언론사들이에요 ! 언론사 선택 해제시 해당 언론사에 관한 기사들은 제외돼요 :-) 보고싶지 않은 언론사가 있다면 선택을 해제해주세요."
  document.querySelector('.news-infor-contents').innerHTML =`{% include 'infor-press.html' %}`
}

function keywordInfor(e){
  document.querySelector('.press-btn').classList.remove('clicked');
  document.querySelector('.keyword-btn').classList.add('clicked');
  document.querySelector('.category-btn').classList.remove('clicked');
  document.querySelector('.news-infor-edit-title').innerText = '키워드 선택하기'
  document.querySelector('.news-infor-edit-content').innerText="키워드 삭제 시 키워드가 카테고리에서 사라져요 :-) 새롭게 추가할 키워드가 있다면 입력해주세요."
  document.querySelector('.news-infor-contents').innerHTML =`{% include 'infor-keyword.html' %}`
}
function categoryInfor(e){
  document.querySelector('.press-btn').classList.remove('clicked');
  document.querySelector('.keyword-btn').classList.remove('clicked');
  document.querySelector('.category-btn').classList.add('clicked');
  document.querySelector('.news-infor-edit-title').innerText = '카테고리 선택하기'
  document.querySelector('.news-infor-edit-content').innerText="기사를 카테고리별로 보여드려요 :-) 원하시는 카테고리를 선택/해제 해주세요."
  document.querySelector('.news-infor-contents').innerHTML =`{% include 'infor-category.html' %}`

}

// infor-press 언론사 선택 ajax 통신
function PressChked(press_pk){
  event.preventDefault();
  
  let CsrfValue = document.getElementsByName("csrfmiddlewaretoken")[0].value;
  let param = {
    'press_pk': press_pk,
  }
  fetch("{% url 'social:press' %}", {
    method: 'POST',
    headers: {
      "X-CSRFToken": CsrfValue,
      "X-Requested-With": "XMLHttpRequest"
    },
    body: JSON.stringify(param),
  }).then(function (response) {
    console.log('readdss', response)
    return response.json()
  }).then(function (data) {
    console.log(data['is_deleted'])
    console.log(data['press_pk'])
    if(data['is_deleted'] == false){
     
      document.querySelector(`.press-check-btn${press_pk}`).classList.add('non-press-check-btn')
      document.querySelector(`.press-check-btn${press_pk}`).classList.remove('press-check-btn')
    }
    else{
      document.querySelector(`.press-check-btn${press_pk}`).classList.remove('non-press-check-btn')
      document.querySelector(`.press-check-btn${press_pk}`).classList.add('press-check-btn')
    }

  }).catch((error) => {
    console.log('error', error);
  })
}

// 키워드 추가 ajax
function clickSubmitBtn(e){
  e.preventDefault();
  todoInput = document.querySelector('.infor-keyword-input');
  todo = todoInput.value;
  console.log(todo)
  if (todo == ''){
    return
  }
let CsrfValue = document.getElementsByName("csrfmiddlewaretoken")[0].value;
let param = {
  'todo':todo,
}
fetch("{% url 'user:keyword_create' %}", {
  method: 'POST',
  headers: {
    "X-CSRFToken": CsrfValue,
    "X-Requested-With": "XMLHttpRequest"
  },
  body: JSON.stringify(param),
}).then(function (response) {
  console.log('readdss', response)
  return response.json()
}).then(function (data) {
  console.log(data)
  keyword_pk = data['keyword_pk']
  content = data['content']
  document.querySelector('.infor-keyword-ul').innerHTML +=  `
  <li class="infor-keyword-list infor-keyword-list${keyword_pk}">
  ${content}
  <i class="fas fa-times delete${keyword_pk}" onclick="clickDeleteBtn('${keyword_pk}')"></i>
  </li>`

document.querySelector('.infor-keyword-input').value='';
document.querySelector('.infor-keyword-input').focus();

}).catch((error) => {
  console.log('error', error);
})
}

// 키워드 삭제 ajax
function clickDeleteBtn(keyword_pk){
  event.preventDefault();

let CsrfValue = document.getElementsByName("csrfmiddlewaretoken")[0].value;
let param = {
  'keyword_pk':keyword_pk
}
fetch("{% url 'user:keyword_delete' %}", {
  method: 'POST',
  headers: {
    "X-CSRFToken": CsrfValue,
    "X-Requested-With": "XMLHttpRequest"
  },
  body: JSON.stringify(param),
}).then(function (response) {
  console.log('readdss', response)
  return response.json()
}).then(function (data) {

document.querySelector(`.infor-keyword-list${keyword_pk}`).remove()

}).catch((error) => {
  console.log('error', error);
})
}

// 카테고리 선택
function categoryBtn(category_pk) {
  // console.log('ga')
  // event.preventDefault();

  let CsrfValue = document.getElementsByName("csrfmiddlewaretoken")[0].value;
  let param = {
    'category_pk':category_pk
  }
  fetch("{% url 'user:category_infor' %}", {
    method: 'POST',
    headers: {
      "X-CSRFToken": CsrfValue,
      "X-Requested-With": "XMLHttpRequest"
    },
    body: JSON.stringify(param),
  }).then(function (response) {
    console.log('readdss', response)
    return response.json()
  }).then(function (data) {

  }).catch((error) => {
    console.log('error', error);
  })
  }
</script>
{% endblock script %}