<div class="infor-keyword-div">
  <form action="" method="POST">
    {% csrf_token %}
  <input class="infor-keyword-input" type="text" name="keyword" placeholder="키워드를 입력해주세요">
  <button type="submit" class="keyword-add" href="" onclick="clickSubmitBtn(event)">추가</button>
  </form>
  <form action="" method="POST">
    {% csrf_token %}
  <ul class="infor-keyword-ul">
    {% for keyword in keywords %}
    <li class="infor-keyword-list infor-keyword-list{{keyword.pk}}">{{keyword.name}}
      <i class="fas fa-times" onclick="clickDeleteBtn('{{keyword.pk}}')"></i>
    </li>
  </form>
    {% endfor %}
  </ul>
</div><br>